.Service-icon {
    height: 3.5rem;
    width: 3.5rem;
}

.Circle {
    height: 6rem;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Service-widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 1rem;
}

.Service-name {
    margin: 0 0 1rem 0;
    width: 6rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}