.App {
    text-align: left;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.Content {
    flex: 1;
    background-color: whitesmoke;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.Load-more {
    float: right;
    height: 1.25rem;
}

.Load-more > *:first-child {
    margin-right: 1rem;
}

.Asset-title {
    margin-top: 0;
}

